// Colours

$c-black: #222;
$c-white: #FFF;

$c-brand-primary: #0095FF;

$c-histo-session: $c-brand-primary;
$c-histo-generic: #4CB5FF;
$c-histo-chat: #004A7F;

$c-area-primary: #FAFBFC;
$c-area-secondary: #E5ECF1;

$c-text-primary: $c-black;
$c-text-secondary: #5B656D;

$c-bord: #E8E8E8;


// Measures

$m-round: 5px;
